<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<!-- Ajout de la permission de localisation -->
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Cette application a besoin de votre localisation pour vous offrir une expérience personnalisée.</string>
</dict>
</plist>
